<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Membership Accepted</title>
</head>
<body>
    <table role="presentation" align="center" border="0" cellpadding="0" cellspacing="0" width="600">
        <tr>
            <td style="padding: 20px; text-align: center; font-size: 24px;">
                <h2>Membership Accepted</h2>
                <p>Dear {{ member.names }} {{ member.surname }}</p>
            </td>
        </tr>
        <tr>
            <td style="padding: 20px; text-align: left; font-size: 16px;">
                <p>Congratulations! Your membership request has been accepted.</p>
                <p>You are now a valued member of Accounts Receivables Health Assist.</p>
            </td>
        </tr>
        <tr>
            <td style="padding: 20px; text-align: left; font-size: 16px;">
                <p>As a member, you have access to various benefits and resources. Feel free to explore and engage with our community.</p>
                <p>If you have any questions or need assistance, please don't hesitate to contact us.</p>
                <p><strong>Note:</strong> You can log in to your account using the following link:</p>
                <a href="https://{{site.domain}}/{% url 'account_login' %}"><button>Login to Your Account</button></a>
                
                <!-- Add more content as needed -->
            </td>
        </tr>
        <tr>
            <td style="padding: 20px; text-align: center; font-size: 16px;">
                <p>Thank you for joining [Your Organization/Community Name]. We look forward to your active participation!</p>
                <p>Best regards,<br>[Your Company Name]</p>
            </td>
        </tr>
    </table>
</body>
</html>
