<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Membership Request Denied</title>
</head>
<body>
    <table role="presentation" align="center" border="0" cellpadding="0" cellspacing="0" width="600">
        <tr>
            <td style="padding: 20px; text-align: center; font-size: 24px;">
                <h2>Membership Request Denied</h2>
                <p>Dear {{ member.names }} {{ member.surname }}</p>
            </td>
        </tr>
        <tr>
            <td style="padding: 20px; text-align: left; font-size: 16px;">
                <p>We regret to inform you that your membership request has been denied.</p>
                <p>Unfortunately, your request did not meet our criteria at this time.</p>
            </td>
        </tr>
        <tr>
            <td style="padding: 20px; text-align: left; font-size: 16px;">
                <p>If you have any questions or would like more information about the denial, please feel free to contact us.</p>
                <p><strong>Note:</strong> You may request membership again in the future, ensuring that all requirements are met.</p>
            </td>
        </tr>
        <tr>
            <td style="padding: 20px; text-align: center; font-size: 16px;">
                <p>Thank you for your interest in <strong>Accounts Receivables Health Assist</strong>. We appreciate your understanding.</p>
                <p>Best regards,<br><strong>Accounts Receivables TEAM</strong></p>
            </td>
        </tr>
    </table>
</body>
</html>
