{% extends '../layouts/base.html'%}
 {% load crispy_forms_tags %} 

    {% block head-title %}
        Approvers Page
    {% endblock %}

{% block toolbar%}

{% endblock %} 

{% block content %}

<div class="card card-full">
  <div class="card-inner">
    <div class="card-title-group">
      <div class="card-title">
        <h6 class="title">Approvers</h6>
      </div>
    </div>
  </div>
  <div class="nk-tb-list mt-n2">
    <div class="nk-tb-item nk-tb-head">
      <div class="nk-tb-col"><span>Id</span></div>
      
    </div>

    {% for approver in approvers %}
        <div class="nk-tb-item">
        

        <div class="nk-tb-col tb-col-md">
            <span class="tb-lead"> approver.id </span>
        </div>
        
        
        </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
