{% load static%}

            <!-- main header @s -->
            <div class="nk-header nk-header-fluid bg-white">
                <div class="container-xl wide-xl">
                    <div class="nk-header-wrap">
                        <div class="nk-menu-trigger me-sm-2 d-lg-none">
                            <a href="{% url 'dashboard' %}" class="nk-nav-toggle nk-quick-nav-icon" data-target="headerNav"><em class="icon ni ni-menu"></em></a>
                        </div>
                        <div class="nk-header-brand d-flex align-items-center">
                            <a href="{% url 'dashboard' %}" class="logo-link me-3">
                                <img class="logo-light logo-img" src="{% static 'images/zimcot.png' %}" srcset="{% static 'images/zimcot.png' %} 2x" alt="logo">
                                <img class="logo-dark logo-img" src="{% static 'images/zimcot.png' %}" srcset="{% static 'images/zimcot.png' %} 2x" alt="logo-dark">
                            </a>
                            <div class="nk-header-brand-text">
                                <h5 class="mb-0" style="color: green;">Government Of Zimbabwe Forex Bureau</h5>
                                <p class="mb-0">Forex Bureau Platform</p>
                            </div>
                        </div><!-- .nk-header-brand -->
                        <div class="nk-header-menu" data-content="headerNav">
                            <div class="nk-header-mobile">
                                <div class="nk-header-brand">
                                    <a href="{% url 'dashboard' %}" class="logo-link">
                                        <img class="logo-light logo-img" src="{% static 'images/zimcot.png' %}" srcset="{% static 'images/zimcot.png' %} 2x" alt="logo">
                                        <img class="logo-dark logo-img" src="{% static 'images/zimcot.png' %}" srcset="{% static 'images/zimcot.png' %} 2x" alt="logo-dark">
                                    </a>
                                </div>
                                <div class="nk-menu-trigger me-n2">
                                    <a href="{% url 'dashboard' %}" class="nk-nav-toggle nk-quick-nav-icon" data-target="headerNav"><em class="icon ni ni-arrow-left"></em></a>
                                </div>
                            </div>
                            <ul class="nk-menu nk-menu-main ui-s2">
                                <li class="nk-menu-item has-sub">
                                    <a href="{% url 'dashboard' %}" class="nk-menu-link">
                                        <span class="nk-menu-text">Home</span>
                                    </a>
                                </li><!-- .nk-menu-item -->
                                <li class="nk-menu-item has-sub">
                                    <a href="{% url 'proposal-index' %}" class="nk-menu-link">
                                        <span class="nk-menu-text">Exchange Proposals</span>
                                    </a>
                                </li><!-- .nk-menu-item -->
                                <li class="nk-menu-item has-sub">
                                    <a href="{% url 'transaction-index' %}" class="nk-menu-link">
                                        <span class="nk-menu-text">Transactions</span>
                                    </a>
                                </li><!-- .nk-menu-item -->
                                <li class="nk-menu-item has-sub">
                                    <a href="{% url 'regulator_dashboard' %}" class="nk-menu-link">
                                        <span class="nk-menu-text">Regulator Dashboard</span>
                                    </a>
                                </li><!-- .nk-menu-item -->
                                {% if request.user.user_role == 'Regulator' %}
                                    <li class="nk-menu-item has-sub">
                                        <a href="{% url 'user-index' %}" class="nk-menu-link">
                                            <span class="nk-menu-text">Users</span>
                                        </a>
                                    </li><!-- .nk-menu-item -->
                                    <li class="nk-menu-item has-sub">
                                        <a href="{% url 'source-index' %}" class="nk-menu-link">
                                            <span class="nk-menu-text">Source</span>
                                        </a>
                                    </li><!-- .nk-menu-item -->
                                    <li class="nk-menu-item has-sub">
                                        <a href="{% url 'currency-index' %}" class="nk-menu-link">
                                            <span class="nk-menu-text">Currency</span>
                                        </a>
                                    </li><!-- .nk-menu-item -->
                                    <li class="nk-menu-item has-sub">
                                        <a href="{% url 'rate-index' %}" class="nk-menu-link">
                                            <span class="nk-menu-text">Exchange Rates</span>
                                        </a>
                                    </li><!-- .nk-menu-item -->
                                {% endif %}
                                <li class="nk-menu-item has-sub">
                                    <a href="{% url 'user-rate-index' %}" class="nk-menu-link">
                                        <span class="nk-menu-text">Sell Currency</span>
                                    </a>
                                </li><!-- .nk-menu-item -->
                                <li class="nk-menu-item has-sub">
                                    <a href="{% url 'kyc-profile-create' %}" class="nk-menu-link">
                                        <span class="nk-menu-text">KYC Profile</span>
                                    </a>
                                </li><!-- .nk-menu-item -->
                                <li class="nk-menu-item has-sub">
                                    <a href="{% url 'custom-logout' %}" class="nk-menu-link">
                                        <span class="nk-menu-text">User:({{request.user}})  logout</span>
                                    </a>
                                </li><!-- .nk-menu-item -->
                            </ul><!-- .nk-menu -->
                        </div><!-- .nk-header-menu -->
                    </div><!-- .nk-header-wrap -->
                </div><!-- .container-fliud -->
            </div>
            <!-- main header @e -->
