{% load static %}

<div class="nk-sidebar-main is-light" style="position: fixed; left: 0; top: 0; bottom: 0; width: 250px; background-color: #fff; border-right: 1px solid #e5e5e5; overflow-y: auto;">
    <div class="nk-sidebar-inner" data-simplebar>
        <div class="nk-menu-content menu-active" data-content="navPharmacy">
            <h5 class="title">Asset Guardian</h5>
            <ul class="nk-menu">
                <li class="nk-menu-item">
                    <a href="html/pharmacy/index.html" class="nk-menu-link">
                        <span class="nk-menu-icon"><em class="icon ni ni-dashboard-fill"></em></span>
                        <span class="nk-menu-text">Dashboard</span>
                    </a>
                </li><!-- .nk-menu-item -->
                <li class="nk-menu-item has-sub">
                    <a href="#" class="nk-menu-link nk-menu-toggle">
                        <span class="nk-menu-icon"><em class="icon ni ni-users-fill"></em></span>
                        <span class="nk-menu-text">Customer</span>
                    </a>
                    <ul class="nk-menu-sub">
                        <li class="nk-menu-item">
                            <a href="html/pharmacy/add-customer.html" class="nk-menu-link"><span class="nk-menu-text">Add Customer</span></a>
                        </li>
                        <li class="nk-menu-item">
                            <a href="html/pharmacy/customer.html" class="nk-menu-link"><span class="nk-menu-text">Customer List</span></a>
                        </li>
                        <li class="nk-menu-item">
                            <a href="html/pharmacy/customer-ledger.html" class="nk-menu-link"><span class="nk-menu-text">Customer Ledger</span></a>
                        </li>
                    </ul><!-- .nk-menu-sub -->
                </li><!-- .nk-menu-item -->
            </ul><!-- .nk-menu -->
        </div>
    </div>
</div>
