{% extends 'layouts/base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block navigation %}
<div class="nk-content-body">
    <div class="nk-block-head nk-block-head-sm">
        <div class="nk-block-between py-3 px-3 bg-gray-300 rounded-3">
            <div class="nk-block-head-content">
                <h3 class="nk-block-title page-title">System Security</h3>
            </div><!-- .nk-block-head-content -->
            <div class="nk-block-head-content">
                <div class="toggle-wrap nk-block-tools-toggle">
                    <div class="toggle-expand-content" data-content="pageMenu">
                        <ul class="nk-block-tools g-3">
                            <li class="nk-block-tools-opt"><a href="{% url 'dashboard' %}" class="btn btn-outline-dark"><em
                                    ></em><span>Home</span></a></li>
                        </ul>
                    </div>
                </div>
            </div> <!-- .nk-block-head-content  -->
        </div> <!-- .nk-block-between-->
    </div><!-- .nk-block-head -->
</div>
{% endblock %}

{% block content %}
<div class="nk-block nk-block-lg">
    <div class="nk-block-head">
        <div class="nk-block-head-content">
            <h4 class="nk-block-title">System user behaviour</h4>
        </div>
    </div>
    <div class="card card-bordered card-preview">
        <table class="table table-tranx is-compact">
            <thead>
                <tr>
                    <th>User</th>
                    <th>Message</th>
                </tr>
            </thead>
            <tbody>
                {% for obj in alert %}
                <tr>
                    <td>{{obj.user.username}}</td>
                    <td>{{obj.message}}</td>
                </tr>
                {% endfor %}  
            </tbody>
        </table>
    </div><!-- .card-preview -->
{% endblock %}

