{% extends '../layouts/base.html'%}
 {% load crispy_forms_tags %} 

    {% block head-title %}
        Roles
    {% endblock %}

{% block toolbar%}

<a class="btn btn-secondary btn-round my-2" href="{% url 'create-approver_role-view' %}">Create Role</a>

{% endblock %} 

{% block content %}

<div class="card card-full">
  <div class="card-inner">
    <div class="card-title-group">
      <div class="card-title">
        <h6 class="title">Roles</h6>
      </div>
    </div>
  </div>
  <div class="nk-tb-list mt-n2">
    <div class="nk-tb-item nk-tb-head">
      <div class="nk-tb-col"><span>Title</span></div>
      <div class="nk-tb-col"><span>Description</span></div>
      <div class="nk-tb-col"><span>Total Users</span></div>
      <div class="nk-tb-col"><span>Action</span></div>
      
      
    </div>

    {% for approver_role in approver_roles %}
        <div class="nk-tb-item">
        

        <div class="nk-tb-col tb-col-md">
            <span class="tb-lead"> {{ approver_role.title }} </span>
        </div>
       
        <div class="nk-tb-col tb-col-md">
          <span class="tb-lead"> {{ approver_role.description }} </span>
        </div>

        <div class="nk-tb-col tb-col-md">
          <span class="tb-lead"> {{ approver_role.approvers.all|length }} </span>
        </div>

        <div class="nk-tb-col tb-col-md">
          <span class="tb-lead"> <a class="btn btn-secondary" href="{% url 'update-approver_role-view' approver_role.pk %}">Update</a> </span>
        </div>
     
     
        </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
