{% extends "../layouts/base.html" %}
{% load static %}

{% block head-title %}
  <div class="nk-block-head nk-block-head-sm">
      <div class="nk-block-between py-3 px-3 bg-light rounded-3">
          <div class="nk-block-head-content">
              <h6 class="nk-block-title page-title" style="font-size: 0.85rem;">Approval Details For <i>{{ approval_mark.approval_level.approval_group.approval_ticket }}</i></h6>
          </div>
          <div class="nk-block-head-content">
              <div class="toggle-wrap nk-block-tools-toggle">
                  <div class="toggle-expand-content" data-content="pageMenu">
                      <ul class="nk-block-tools g-3">
                        <li> <a class="btn btn-dark " href="{% url 'detail-approval_ticket-view' approval_mark.approval_level.approval_group.approval_ticket.pk %}">Back</a></li>
                      </ul>
                  </div>
              </div>
          </div>
      </div><!-- .nk-block-between -->
  </div><!-- .nk-block-head -->
{% endblock %}

{% block content %}
<div class="nk-block nk-block-lg">
    <div class="card card-bordered">
        <div class="card-inner">
            <h5 class="card-title">Approval Mark Details</h5>
            <ul>
                <li><strong>Action Status:</strong> {{ approval_mark.action_status.upper }}</li>
                <li><strong>Action Message:</strong> {{ approval_mark.action_message }}</li>
                <li><strong>Attachment:</strong> {% if approval_mark.attachment %}<a href="{{ approval_mark.attachment.url }}" target="_blank">{{ approval_mark.attachment.name }}</a>{% else %}No attachment{% endif %}</li>
                <li><strong>Reviewed By: </strong><a class="btn btn-dark text-white">{{ approval_mark.approval_level.approver }}</a></li>
                <!-- Add more fields as needed -->
            </ul>
        </div>
    </div>
</div><!-- .nk-block -->
{% endblock %}

{% block scripts %}
    <script src="{% static 'js/bundle.js' %}"></script>
    <script src="{% static 'js/scripts.js' %}"></script>
    <script src="{% static 'js/libs/datatable-btns.js' %}"></script>
{% endblock %}
