{% extends 'layouts/base.html' %}
{% load ordinal_filter %}

{% block head-title %}
<h4>Modify group: {{ approval_group.name }}</h4>

{% endblock %}



{% block navigation %}
  <a href="{% url 'detail-approval_ticket-view' approval_group.approval_ticket.pk %}" class="my-2 btn btn-secondary">Back to Approval Ticket</a>
  <a href="{% url 'create-approval_level-view' %}?approval_group={{ approval_group.pk }}" class="my-2 btn btn-outline-secondary">+ Add Level</a>
{% endblock %}
{% block content %}
  <div class="card card-bordered px-4 py-4">
    <h4>Approval Levels</h4>
    <span class="text-small">Approval Levels allow you to configure the approvers. You can set the order in which you want the item to be approved by.</span>
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Index</th>
          <th scope="col">Name</th>
          <th scope="col">Approver</th>
          <th scope="col">Modify</th>
          <!-- Add more columns as needed -->
        </tr>
      </thead>
      <tbody>
        {% for approval_level in approval_group.ordered_approval_levels.all %}
          <tr>
            <td><h5>{{ approval_level.index|ordinal }}</h5></td>
            <td>{{ approval_level.name }}</td>
            <td><h6><a href="" class="text-blue">{{ approval_level.approver }}</a></h6></td>
            <td>
              <div class="row">
                <div class="col-md-3">
                  <a href="{% url 'update-approval_level-view' approval_level.pk %}" class="btn btn-outline-secondary btn-round">Update</a>
                </div>
                <div class="col-md-3">
                  <a href="{% url 'shift-approval_level_to_up-view' approval_level.pk %}" class="btn btn-secondary btn-round"><em class="icon ni ni-arrow-up"></em> Up</a>
                </div>
                <div class="col-md-3">
                    <a href="{% url 'shift-approval_level_to_down-view' approval_level.pk %}" class="btn btn-secondary btn-round"><em class="icon ni ni-arrow-down"></em>Down</a>
                </div>
                <div class="col-md-3">
                    <a href="{% url 'delete-approval_level-view' approval_level.pk %}" class="btn btn-danger btn-round"><em class="icon ni ni-trash"></em>Remove</a>
                  </div>
              </div>
            </td>
            <!-- Add more data cells as needed -->
          </tr>
          <!-- Add more rows as needed -->
        {% empty %}
        <tr>
            <div class="alert alert-warning">No Levels Configured. <a href="{% url 'create-approval_level-view' %}?approval_group={{ approval_group.pk }}">Click here to create the first one.</a></div>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}
