{% extends 'layouts/base.html' %}

{% load crispy_forms_tags %}




{% block content %}
<div class="nk-block-head nk-block-head-sm">
    <div class="nk-block-between py-3 px-3 bg-light rounded-3">
        <div class="nk-block-head-content">
            <h6 class="nk-block-title page-title" style="font-size: 0.85rem;" >  Start Approval Workflow for {{ preloaded_model }}</h6>
        </div><!-- .nk-block-head-content -->
        <div class="nk-block-head-content">
            <div class="toggle-wrap nk-block-tools-toggle">
                <div class="toggle-expand-content" data-content="pageMenu">
                    <ul class="nk-block-tools g-3">
                        <li class="nk-block-tools-opt"><a href="{% url 'list-approval_tickets-view' %}" class="btn btn-white btn-dim btn-outline-light"><em class="icon ni ni-curve-down-left"></em><span>Back</span></a></li>
                             </ul>
                </div>
            </div>
        </div>
    </div><!-- .nk-block-between -->
</div>
<div class="card card-bordered px-4 py-4">
    {% csrf_token %}
    {% crispy form %}
</div>
{% endblock %}
