{% extends 'layouts/base.html' %}

{% load crispy_forms_tags %}
{% load ordinal_filter %}

{% block cdns %}
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
{% endblock %}

{% block navigation %}

{% if approval_ticket.is_approved %}
  <div class="alert alert-success">
    Successfully Approved {{ approval_ticket }}
  </div>
{% endif %}

{% if approval_ticket.denied_group_mark %}
  <div class="alert alert-danger">
    Request Denied by <strong>{{ approval_ticket.denied_group_mark.approver.user.first_name }} {{ approval_ticket.denied_group_mark.approver.user.last_name }}</strong> | <a class="btn btn-round btn-secondary" href="{% url 'detail-approval_mark-view' approval_ticket.denied_group_mark.pk %}">View Reason</a>
  </div>
{% endif %}
{% endblock navigation %}


{% block content %}
<div class="nk-block-head nk-block-head-sm">
  <div class="nk-block-between py-3 px-3 bg-light rounded-3">
    <div class="nk-block-head-content">
      {% if approval_ticket %}
      <h6 class="nk-block-title page-title" style="font-size: 0.85rem;" >Status: Approval For <a href="{{ approval_ticket.action_model_url }}">{{ approval_ticket }} </a></h6>
      {% else %}
      <h6 class="nk-block-title page-title" style="font-size: 0.85rem;" > Approval Item Not Found</a></h6>
      {% endif %}
    </div>
    <div class="nk-block-head-content">
      <div class="toggle-wrap nk-block-tools-toggle">
        <div class="toggle-expand-content" data-content="pageMenu">
          <ul class="nk-block-tools">
            
            
            
            
            {% for approval_group in approval_ticket.approval_groups.all %}
              {% for approval_level in approval_group.approval_levels.all %}
              
                {% if request.user == approval_level.approver.user %}
                  {% if approval_level.approval_mark %}
                  <span class="badge text-dark"> {{ approval_level.approval_mark.action_status.upper }}</span>
                  <a href="{%url 'detail-approval_mark-view' approval_level.approval_mark.pk %}" class="bg-dark text-white btn btn-white btn-dim btn-outline-light mx-2"><em class="icon ni ni-eye px-1"></em>View Approval Mark</a>

                  {% else %}
                  {% comment %} check if user has approval mark status {% endcomment %}
                  {% if has_approval_mark_permission %}
                    
                    <li class="nk-block-tools-opt"> <a href="{%url 'create-approval_mark-view' %}?approval_level={{ approval_level.pk }}" class="btn btn-white btn-dim btn-outline-light mx-2"><em class="icon ni ni-upload px-1"></em> Submit Approval Review</a></li>
                    
                  {% endif %}
                  
                  {% endif %}
                {% endif %}
              {% endfor %}
            {% endfor %}
            <li class="nk-block-tools-opt"><a href="{% url 'list-approval_tickets-view' %}" class="btn btn-white btn-dim btn-outline-light"><em class="icon ni ni-curve-down-left"></em><span>Back</span></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>


  {% if request.user == approval_ticket.created_by  %}
    <a href="{% url 'create-approval_group-view' %}?approval_ticket={{ approval_ticket.pk }}" class="btn btn-primary my-2 btn-round">+ Set up Approval Group Level</a>
  {% endif %}

  {% if 1 %}
  <div class="container mt-4">
    <div class="row">
        <div class="col-md-3">
          <h5>Group In Action</h5>
            <div class="alert alert-primary"><strong>{{ current_group }}</strong></div>
        </div>
        
        <div class="col-md-3">
          <h5>Awaiting Approval From</h5>
          <div class="alert alert-secondary"><strong>{{ current_group_level.approver.user.first_name }} {{ current_group_level.approver.user.last_name }}</strong></div>
        </div>

        <div class="col-md-3">
          <h5>Next Group To Approve</h5>
          <div class="alert alert-success"><strong>{{ next_approval_group_level.approval_group.name }} </strong></div>
        </div>

        <div class="col-md-3">
          <h5>Next Approver</h5>
          <div class="alert alert-success"><strong>{{ next_approval_group_level.approval_group.approval_levels.last.approver.user.first_name }} </strong></div>
        </div>
        <!-- Repeat the above structure for additional columns if needed -->
    </div>
  </div>
{% endif %}

{%if approval_ticket.approval_groups.count == 0 %}
  <div class="alert alert-warning my-2">
    At least one approval group is required for the approval flow to begin. <a href="{% url 'create-approval_group-view' %}?approval_ticket={{ approval_ticket.pk }}" class="btn btn-primary btn-round">Create Group</a>
  </div>
{% endif %}

<div class="container mt-4">
  <div class="text-gray">List of all approvers and their current status .</div>
  <div class="row">
    {% for approval_group in approval_ticket.ordered_approval_groups.all %}
    
      {% for approval_level in approval_group.ordered_approval_levels.all %}
      <div class="col-lg-3 col-md-3 col-sm-4 mb-4">
        <div class="card">
          <div class="card-body">
            {{ approval_level.approver.user.first_name }} | <strong>{{ approval_level.approval_group}}</strong>
          </div>
          {% if approval_level.approval_mark %}
            {% if approval_level.approval_mark.action_status == "accept" %}
              <div class="card-footer text-white bg-info">
                <strong>APPROVED</strong>
                
              </div>

            {% else %}
            <div class="card-footer text-white bg-warning">
              <strong>DENIED</strong>
              | 
              <a class="btn btn-dark" href="{% url 'detail-approval_mark-view' approval_level.approval_mark.pk %}"> View Reason </a>
            </div>
            {% endif %}
          {% else %}
          <div class="card-footer">
            <strong>Awaiting Review</strong>
          </div>
          {% endif %}
        </div>
      </div>
      {% endfor %}
    {% endfor %}
  </div>
  <div class="row">
    {% for approval_group in approval_ticket.ordered_approval_groups.all %}
    <!-- Card 1 -->
    <div class="col-lg-3 col-md-3 col-sm-4 mb-4">
      <div class="card">
        
        <div class="card-header {% if approval_group.approval_group_levels.count == 0 %} bg-danger {% endif %}"> <strong>{{ approval_group.name.upper }} </strong>
          {% if approval_group.approval_group_levels.first %}
            <a href="{% url 'update-approval_group_level-view' approval_group.approval_group_levels.first.pk %}"><span class="badge text-blue"> {{ approval_group.approval_group_levels.first.name }}</span></a> <strong class="my-2 text-primary">{{ approval_group.approval_group_levels.first.index|ordinal }}</strong>
          {% endif %}
          <hr>
         </div>
        <div class="card-body">
          <!-- Card content goes here -->

          <strong>{{ approval_group.approval_levels.count }} Approvers</strong> 
          {% if request.user == approval_ticket.created_by %}

          <a class="text-gray" href="{% url 'detail-approval_group-view' approval_group.pk  %}">Configure Approvers</a>
          {% endif %}
          
        </div>
        <div class="card-footer">
          {% if request.user == approval_ticket.created_by %}
            {% if approval_group.approval_group_levels.count == 0 %}
              <strong>Please assign this group a level.</strong>
              
              <a href="{% url 'create-approval_group_level-view' %}?approval_group={{ approval_group.pk }}&approval_ticket={{approval_group.approval_ticket.pk}}" class="btn btn-primary btn-round">Set Group Level</a>

            {% else %}
              <a href="{% url 'shift-approval_group_level_to_left-view' approval_group.approval_group_levels.first.pk  %}" class="mx-auto btn btn-secondary btn-round"> <em class="icon ni ni-arrow-left"></em> Left</a>
              <a href="{% url 'shift-approval_group_level_to_right-view' approval_group.approval_group_levels.first.pk  %}" class="mx-auto btn btn-secondary btn-round">Right <em class="icon ni ni-arrow-right"></em></a>
              <hr>
              <a class="my-2" href="{% url 'delete-approval_group-view' approval_group.pk %}"><em class="ni ni-trash"></em>Remove</a>
              
              {% if approval_group.approval_levels.count == 0 %}
              <div class="alert alert-danger my-2">Please set at least one approver <a class="text-secondary" href="{% url 'detail-approval_group-view' approval_group.pk  %}"><strong> <em class="icon ni ni-link"></em>Set Approvers</strong></a></div>
              {% endif %}
            {% endif %}
          {% endif %}
          
        </div>
      </div>
    </div>

    <!-- Repeat for 24 more cards -->
    {% endfor %}

  </div>
</div>


{% comment %} {% include 'approval_tickets/checkbox-styling.html' %} {% endcomment %}
{% if approval_ticket.is_approved %}
<div class="alert alert-success" role="alert">
  {% if approval_ticket %}
  <a href="{{approval_ticket.action_model_url}}" class='text-success'>This Ticket Has Been Approved </a>
  {% else %}
      <h6 class="nk-block-title page-title" style="font-size: 0.85rem;" > Approval Item Not Found</a></h6>
    {% endif %}
</div>
{% else %}
{% comment %} {% include 'approval_tickets/partials/approval_checkboxes.html'%} {% endcomment %}
{% endif %}

{% comment %} <div class="card card-bordered card-preview">
  <table class="table table-tranx">
      <thead>
          <tr class="tb-tnx-head">
              
              <th class="tb-tnx-info">
                  <span class="tb-tnx-desc d-none d-sm-inline-block">
                      <span>Name</span>
                  </span>
                  <span class="tb-tnx-date d-md-inline-block d-none">
                      
                      <span class="d-none d-md-block">
                          <span>Approver</span>
                         
                      </span>
                  </span>
              </th>
              <th class="tb-tnx-amount is-alt">
                  <span class="tb-tnx-status d-none d-md-inline-block">Is Approved</span>
              </th>
              <th class="tb-tnx-amount is-alt">
                <span class="tb-tnx-status d-none d-md-inline-block">Updated On</span>
            </th>
             
          </tr>
      </thead>
      <tbody>
        {% for level in approval_ticket.approval_levels.all %}
          <tr class="tb-tnx-item">
              
              <td class="tb-tnx-info">
                  <div class="tb-tnx-desc">
                      <span class="title">{{ level.name}}</span>
                  </div>
                  <div class="tb-tnx-date">
                      <span class="date">{% if level.approver %} {{ level.approver.user.first_name }} {{ level.approver.user.last_name }} {% else %}  <div class="text-danger">Approver Not Set</div>{% endif %}</span>
                     
                  </div>
              </td>
              <td class="tb-tnx-amount is-alt">
                 
                  <div class="tb-tnx-status">
                      <span class="">{% if level.approver in approval_ticket.approved_roles %}<em class="icon ni ni-check-circle-fill text-success"></em>{% else %}<em class="icon ni ni-cross-circle-fill text-danger"> </em>{% endif %}</span>
                  </div>
                  
              </td>
              <td class="tb-tnx-amount is-alt">
                 
               
                <div class="tb-tnx-status">
                  <span class="title">{{ level.updated }}</span>
              </div>
            </td>
              
          </tr>
          {% endfor %}
          
      </tbody>
  </table>
</div> {% endcomment %}

{% endblock %}

