








{% extends 'layouts/base.html' %}
{% load crispy_forms_tags %}
{% block head-title %}
  <div class="nk-block-head nk-block-head-sm">
      <div class="nk-block-between py-3 px-3 bg-light rounded-3">
          <div class="nk-block-head-content">
              <h3 class="nk-block-title page-title"> Select Record For Approval</h3>
          </div><!-- .nk-block-head-content -->
          <div class="nk-block-head-content">
              <div class="toggle-wrap nk-block-tools-toggle">
                  <div class="toggle-expand-content" data-content="pageMenu">
                      <ul class="nk-block-tools g-3">
                          
                      </ul>
                  </div>
              </div>
          </div>
      </div><!-- .nk-block-between -->
  </div><!-- .nk-block-head -->
{% endblock %}
{% block content %}
<div class="card card-bordered px-4 py-5">
    {% crispy form %}
</div>
{% endblock content %}