{% extends 'layouts/base.html' %}
{% load static%}

{% block navigation %}
<div class="nk-block-head nk-block-head-sm">
    <div class="nk-block-between">
        <div class="nk-block-head-content">
            <h3 class="nk-block-title page-title">Main Dashboard</h3>
            <div class="nk-block-des text-soft">
                <p>File storage analytics overview in dashboard.</p>
            </div>
        </div><!-- .nk-block-head-content -->
        <div class="nk-block-head-content">
            <div class="toggle-wrap nk-block-tools-toggle">
                <a href="#" class="btn btn-icon btn-trigger toggle-expand me-n1" data-target="pageMenu"><em class="icon ni ni-more-v"></em></a>
                <div class="toggle-expand-content" data-content="pageMenu">
                    <ul class="nk-block-tools g-3">
                        <li>
                            <div class="drodown">
                                <a href="#" class="dropdown-toggle btn btn-white btn-dim btn-outline-light" data-bs-toggle="dropdown"><em class="d-none d-sm-inline icon ni ni-calender-date"></em><span><span class="d-none d-md-inline">Last</span> 30 Days</span><em class="dd-indc icon ni ni-chevron-right"></em></a>
                                <div class="dropdown-menu dropdown-menu-end">
                                    <ul class="link-list-opt no-bdr">
                                        <li><a href="#"><span>Last 30 Days</span></a></li>
                                        <li><a href="#"><span>Last 6 Months</span></a></li>
                                        <li><a href="#"><span>Last 1 Years</span></a></li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                        <li class="nk-block-tools-opt"><a href="#" class="btn btn-primary"><em class="icon ni ni-reports"></em><span>Reports</span></a></li>
                    </ul>
                </div>
            </div>
        </div><!-- .nk-block-head-content -->
    </div><!-- .nk-block-between -->
</div><!-- .nk-block-head -->
{% endblock%}


    {% block content%}
    <div class="nk-block nk-block-lg">
            <div class="card card-bordered card-preview">
                <div class="card-inner">
                    <div class="row gy-12 mx-auto">
                        <div class="col-xxl-12">
                            <div class="row g-12">
                                <div class="col-sm-3 col-xxl-3">
                                    <div class="nk-order-ovwg-data sell" style="margin-bottom: 20px;">
                                        <div class="analytic-au">
                                            <div class="analytic-data-group analytic-au-group">
                                                <div >
                                                    <div class="title h2">Provinces</div>
                                                    <div class="title text-primary">{{province_count }} </div> 
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-3 col-xxl-3">
                                    <div class="nk-order-ovwg-data sell" style="margin-bottom: 20px;">
                                        <div class="analytic-au">
                                            <div class="analytic-data-group analytic-au-group">
                                                <div >
                                                    <div class="title h2">Total Banks</div>
                                                    <div class="title text-primary">{{ bank_count}}</div> 
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-3 col-xxl-3">
                                    <div class="nk-order-ovwg-data sell" style="margin-bottom: 20px;">
                                        <div class="analytic-au">
                                            <div class="analytic-data-group analytic-au-group">
                                                <div >
                                                    <div class="title h2">Number of Farmers</div>
                                                    <div class="title text-primary">{{farmers_count }} </div> 
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-3 col-xxl-3">
                                    <div class="nk-order-ovwg-data sell" style="margin-bottom: 20px;">
                                        <div class="analytic-au">
                                            <div class="analytic-data-group analytic-au-group">
                                                <div >
                                                    <div class="title h2">Paid Amount</div>
                                                    <div class="title text-primary">$ {{paid_amount|floatformat:2}} </div> 
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-3 col-xxl-3">
                                    <div class="nk-order-ovwg-data sell" style="margin-bottom: 20px;">
                                        <div class="analytic-au">
                                            <div class="analytic-data-group analytic-au-group">
                                                <div >
                                                    <div class="title h2">Partially paid</div>
                                                    <div class="title text-primary">$ {{partially_paid_amount|floatformat:2}}</div> 
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- .card-preview -->
            <div class="card card-bordered card-preview">
                <div class="card-inner">
                    <div class="row gy-12 mx-auto">
                        <h4>Empty</h4>
                        <table class="datatable-init-export nowrap table" data-export-title="Export">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Position</th>
                                    <th>Office</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for obj in province_stats %}
                                <tr>
                                    <td>{{ obj.province__name }}</td> 
                                    <td>{{ obj.num_farmers }}</td>  
                                    <td>$ {{ obj.total_amount|floatformat:2 }}</td> 
                                    <td>$ {{ obj.partially_paid|floatformat:2 }}</td>
                                </tr>  
                                {% endfor %}               
                            </tbody>
                        </table>
                        
                    </div><!-- .card-preview -->
                </div> <!-- nk-block -->
            </div><!-- .card-preview -->
        </div> <!-- nk-block -->
    {% endblock %}
