{% extends 'layouts/base.html' %}
{% load static%}

{% block navigation %}
<div style="background-color: grey; padding: 20px;">
    <div class=" text-center">
        <div class="text-center">
            <div class="text-center">
                <h2 class="text-center text-white">Official Forex Bureau Platform</h2>
                <div class="text-center">
                    <p class="text-white">Streamlining foreign exchange transactions for everyone, everywhere and anytime in Zimbabwe</p>
                </div>
            </div><!-- .nk-block-head-content -->
        </div><!-- .nk-block-between -->
    </div><!-- .nk-block-head -->
    <br>

    <div class="mt-4 text-center">
        <div class="text-center">
            <a href="" class="btn btn-warning me-2">Registration</a>
            <a href="" class="btn btn-outline-light text-white">Login to Portal</a>
        </div>
    </div><!-- .nk-block-head-content -->
</div>

{% endblock%}


    {% block content%}

    {% endblock %}
