{% extends 'layouts/base.html' %}
{% load static%}

{% block navigation %}
<div class="nk-content-body">
    <div class="nk-block-head nk-block-head-sm">
        <div class="nk-block-between py-3 px-3 bg-gray-300 rounded-3">
            <div class="nk-block-head-content">
                <h3 class="nk-block-title page-title">All payments</h3>
                <div class="nk-block-des text-soft">
                    <p>payments</p>
                </div>
            </div><!-- .nk-block-head-content -->
            <!-- .nk-block-head-content -->
            <div class="nk-block-head-content">
                <div class="toggle-wrap nk-block-tools-toggle">
                    <div class="toggle-expand-content" data-content="pageMenu">
                        <ul class="nk-block-tools g-3">
                            <li class="nk-block-tools-opt"><a href="{%url 'create-payment' %}" class="btn btn-primary"><em class="icon ni ni-property-add"></em><span>New payment</span></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div><!-- .nk-block-between -->
    </div><!-- .nk-block-head -->
    
{% endblock%}

{% block content%}
<div class="nk-block nk-block-lg">
    <div class="card card-bordered card-preview">
        <div class="card-inner">
            <table class="datatable-init-export nowrap table" data-export-title="Export">
                <thead>
                    <tr>
                        <th>Farmer</th>
                        <th>Tranaction</th>
                        <th>Payment Date</th>
                        <th>Type Of Payment</th>
                        <th>Bank</th>
                        <th>Amount Paid</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for obj in payment %}
                    <tr>
                        <td>{{ obj.user }}</td>
                        <td>{{ obj.transaction }}</td>
                        <td>{{ obj.pay_date }}</td>
                        <td>{{ obj.payment_type }}</td>
                        <td>{{ obj.bank }}</td>
                        <td>{{ obj.amount }}</td>
                        <td class="nk-tb-col nk-tb-col-tools">
                            <ul class="nk-tb-actions gx-1">
                                <li>
                                    <div class="drodown">
                                        <a href="#" class="dropdown-toggle btn btn-icon btn-trigger" data-bs-toggle="dropdown"><em class="icon ni ni-more-h"></em></a>
                                        <div class="dropdown-menu dropdown-menu-end">
                                            <ul class="link-list-opt no-bdr">
                                                <li><a href="{% url 'payment-details' obj.pk %}"><em class="icon ni ni-text-rich"></em><span>Details</span></a></li>
                                                <li><a href="{% url 'payment-update' obj.pk %}"><em class="icon ni ni-edit"></em><span>Update</span></a></li>
                                                <li><a href="{% url 'payment-delete' obj.pk %}" class="text-danger delete-item-btn"><em class="icon ni ni-trash"></em><span>Delete</span></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </td>
                    </tr>  
                    {% endfor %}               
                </tbody>
            </table>
        </div>
    </div><!-- .card-preview -->
</div> <!-- nk-block -->

{% endblock %}